*, *::before, *::after, ul, li, body, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}  

body {
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: grey;
}

@media only screen and (max-width: 1400px) {

}